@import"https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap";@import"https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap";@import"https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap";@import"https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap";
:root {
    --nmt: #f24e5e;
    --bg-dark: #ffffff;
    --bg: #edeff9;
    --bg-light: #f7f7f7;
    --primary2: #8961f7;
    --primary: #617df7;
    --primary-input-border: #617df767;
    --gradient-from: #3b4c9c;
    --gradient-throught: #6169f7;
    --gradient-to: #6169f736;
    --hr: #617df7;
    --accent: #ffbb28;
    --text: #1b1b1b;
    --text-primary: #070e2a;
    --text-label: #6c6c6c8c;
    --text-dark: #686868
}